h1{
  color: orange;
}

#map{
  text-align: center;
  color: white;
}

.jumbotron{
  background-image: url("../../assets/map2.jpg");
  background-size: cover;
	background-repeat: no-repeat;
  background-color: black;
  height: 480px;
  margin: 20px;
  padding-top: 380px;
}
