<div id="location" class="jumbotron">
  <p class="text-light">Weather Today</p>
  <h1 class="text-warning">{{ location.state }}</h1>
  <p class="text-light">last updated at {{ weather.current.last_updated }}</p>
  <div class="icon">
    <img src="{{ weather.current.condition.icon }}" alt="weather"><p class="text-warning">{{ weather.current.condition.text }}</p><br>
  </div>
</div>

<div id="list">
  <ul class="list-group list-group-flush">
  <li class="list-group-item text-warning bg-dark">Temperature: {{ weather.current.temp_c }} &#8451;</li>
  <li class="list-group-item text-warning bg-dark">Feels like: {{ weather.current.feelslike_c }} &#8451;</li>
  <li class="list-group-item text-warning bg-dark">Relative Humidity: {{ weather.current.humidity }} g/cm3</li>
  <li class="list-group-item text-warning bg-dark">Wind: {{ weather.current.wind_kph }} km/h</li>
</ul>
</div>
<!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Temperature: {{ temperature }} &#8451;</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Feels like: {{ feels }} &#8451;</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Relative Humidity: {{ humidity }} g/cm3</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Wind: {{ wind }} km/h</a>
</div> -->

<!-- <p>Temperature: {{ temperature }} &#8451;</p>
<p>Feels like: {{ feels }} &#8451;</p>
<p>Relative Humidity: {{ humidity }} g/cm3</p>
<p>Wind: {{ wind }} km/h</p> -->
<!-- <p>home works</p> -->
