<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a class="navbar-brand text-warning" href="index.html">ChronoWeather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="form-group">
        <input ngModel name="location" #firstname="ngModel" (change)="log(location)" class="form-control mr-sm-2" type="search" placeholder="Search Location" aria-label="Search" >
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
  </div>
</nav>

<div id="location" class="jumbotron">
  <p class="text-light">Weather Today</p>
  <h1 class="text-warning">{{ location }}</h1>
  <p class="text-light">last updated at {{ time }}</p>
  <div class="icon">
    <img src="{{ icon }}" alt=""><p class="text-warning">{{ weather }}</p><br>
  </div>
</div>

<div id="list">
  <ul class="list-group list-group-flush">
  <li class="list-group-item text-warning bg-dark">Temperature: {{ temperature }} &#8451;</li>
  <li class="list-group-item text-warning bg-dark">Feels like: {{ feels }} &#8451;</li>
  <li class="list-group-item text-warning bg-dark">Relative Humidity: {{ humidity }} g/cm3</li>
  <li class="list-group-item text-warning bg-dark">Wind: {{ wind }} km/h</li>

</ul>
</div>
<!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Temperature: {{ temperature }} &#8451;</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Feels like: {{ feels }} &#8451;</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Relative Humidity: {{ humidity }} g/cm3</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Wind: {{ wind }} km/h</a>
</div> -->

<!-- <p>Temperature: {{ temperature }} &#8451;</p>
<p>Feels like: {{ feels }} &#8451;</p>
<p>Relative Humidity: {{ humidity }} g/cm3</p>
<p>Wind: {{ wind }} km/h</p> -->
